@model BloomSales.Web.Store.Models.OrderDetailsViewModel

<div class="container col-md-10">
    <div class="col-md-12" style="padding-top:10px; padding-bottom:15px;">

        <!--order summary panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    Order Summary
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <h6><strong>Shipping Address:</strong></h6>
                        <h6>@Model.Contact.Name</h6>
                        <h6>@Model.Contact.StreetAddress</h6>
                        <h6>@Model.Contact.City, @Model.Contact.PostalCode</h6>
                        <h6>@Model.Contact.Province, @Model.Contact.Country</h6>
                    </div>
                    <div class="col-md-3 center-block">
                        <h6><strong>Payment Method:</strong></h6>
                        <h6>@Model.PaymentMethod</h6>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-8">
                            <h6><strong>Payment Details:</strong></h6>
                            <h6>Item(s) Subtotal:</h6>
                            <h6>Shipping:</h6>
                            <h6>Provincial Sales Tax (@Model.Contact.Province):</h6>
                            <h6>Federal Sales Tax:</h6>
                            <hr class="col-md-10" />
                            <h6><strong>Total:</strong></h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="text-muted">@Model.PaymentCurrency</h6>
                            <h6>$@Model.Subtotal</h6>
                            <h6>$@Model.ShippingCost</h6>
                            <h6>$@Model.ProvincialTax</h6>
                            <h6>$@Model.FederalTax</h6>
                            <hr class="col-md-10" />
                            <h6><strong>$@Model.Total</strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--sub-order details-->
        @{
            var shippingIt = Model.Shippings.GetEnumerator();
            var statusIt = Model.ShippingStatuses.GetEnumerator();
            var productsIt = Model.Products.GetEnumerator();
        }
        @foreach (var subOrder in Model.SubOrders)
        {
            shippingIt.MoveNext();
            statusIt.MoveNext();
            productsIt.MoveNext();

            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        Sub-order (#@subOrder.ID) Details
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h6><strong>Postal Service:</strong></h6>
                            <h6>@shippingIt.Current.Service.Shipper.Name (@shippingIt.Current.Service.ServiceName)</h6>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6><strong>Shipped Date:</strong></h6>
                            <h6>@shippingIt.Current.ShippedDate.ToShortDateString()</h6>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6><strong>Status:</strong></h6>
                            <h6>@statusIt.Current</h6>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                    </div>
                    <!--sub-order items-->
                    <h5 style="padding-top:1em; padding-bottom:1em;"><strong>Items:</strong></h5>
                    <div class="row">
                        <div class="col-md-1 text-center">
                            <h6 class="text-muted"><strong>#</strong></h6>
                        </div>
                        <div class="col-md-7 text-center">
                            <h6 class="text-muted"><strong>Title</strong></h6>
                        </div>
                        <div class="col-md-1 text-center">
                            <h6 class="text-muted"><strong>Quantity</strong></h6>
                        </div>
                        <div class="col-md-1 text-center">
                            <h6 class="text-muted"><strong>Discount</strong></h6>
                        </div>
                        <div class="col-md-2 text-center">
                            <h6 class="text-muted"><strong>Unit Price</strong></h6>
                        </div>
                    </div>
                    @{
                        int i = 1;
                        var pIt = productsIt.Current.GetEnumerator();

                        foreach (var item in subOrder.Items)
                        {
                            pIt.MoveNext();

                            <hr />
                            <div class="row">
                                <div class="col-md-1 text-center">
                                    <h6>@i</h6>
                                </div>
                                <div class="col-md-1 center-block">
                                    <img src="@pIt.Current.ImageUrl" style="height:50px; width:50px" />
                                </div>
                                <div class="col-md-6">
                                    <h6>
                                        <a href="javascript:showDetails(@pIt.Current.ID);">@pIt.Current.Name</a>
                                        @*@pIt.Current.Name*@
                                    </h6>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h6>@item.Quantity</h6>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h6>@(item.Discount * 100)%</h6>
                                </div>

                                <div class="col-md-2 text-center">
                                    <h6>$@item.UnitPrice</h6>
                                </div>
                            </div>
                            i++;
                        }
                    }
                </div>
            </div>
                        }
    </div>
</div>