@model IEnumerable<BloomSales.Data.Entities.Product>

<div>
    <div class="col-lg-12 col-md-12 col-sm-12">

        @{
            var it = Model.GetEnumerator();

            if (it.MoveNext())
            {
                <h2 class="page-header">@it.Current.Category.Name</h2>
            }
            else
            {
                <h2 class="page-header">No products have found in this category</h2>
            }
        }
    </div>

    <div>
        @foreach (var p in Model)
        {
            if (p.IsDiscontinued)
            {
                continue;
            }
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="productBox">
                    <div class="thumbnail img-responsive">
                        <div>
                            <img class="center-block" style="padding:1em" src="@p.ImageUrl" alt="@p.Name">
                        </div>
                        <div class="caption">
                            <h5 class="text-center fadeout-box">
                                @Ajax.ActionLink(p.Name, "ProductDetails", "Store", new { id = p.ID, unitPrice = p.UnitPrice },
                                                 new AjaxOptions()
                                                 {
                                                     HttpMethod = "GET",
                                                     UpdateTargetId = "productsList",
                                                     InsertionMode = InsertionMode.Replace
                                                 })
                            </h5>
                            <h6 class="pull-right">$@string.Format("{0:n}", p.UnitPrice)</h6>
                        </div>
                    </div>
                    @Ajax.ActionLink("Add to Cart", "Add", "ShoppingCart",
                                    new
                                    {
                                        productItemID = p.ID,
                                        unitPrice = p.UnitPrice
                                    },
                                    new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "shoppingCart",
                                        InsertionMode = InsertionMode.Replace
                                    },
                                    new
                                    {
                                        @class = "btn btn-default btn-sm center-block",
                                        role = "button"
                                    })
                </div>
            </div>
        }
    </div>
</div>